/* phone screen */
@media (max-width: 767px) {
    .sticky-menu {
        position: revert;
    }

    .page {
        grid-template-areas:
            "menu"
            "content"
            "footer";
    }

    .news {
        display: none;
    }
}
