.page {
    display: grid;
    grid-template-areas:
        "menu content content content content";
}

.menu-buttons {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin-left: 0.6em;
    margin-bottom: 0.6em;

    align-items: center;
    justify-content: flex-start;
}

.menu-buttons .circle-button {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    padding: 0.6em;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.2);
}

.menu-buttons .circle-button span {
    font-size: 2.4em;

    color: black;
}

.menu-buttons .circle-button:hover {
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
}

.menu-buttons .circle-button img {
    width: 100%;
    border-radius: 100%;
}

.content {
    grid-area: content;

    display: grid;
    grid-template-areas:
        "title"
        "image"
        "text"
        "desc";

    padding: 2em;
}

.content .title {
    grid-area: title;

    font-size: 2em;
    font-weight: bold;

    text-align: center;
    margin: 0 0.6em 0.6em;
}

.content .detail-img {
    grid-area: image;

    width: 100%;
    border-radius: 8px;
}

.content .main-text {
    grid-area: text;

    font-size: 1.2em;
}

.content .footer-text {
    grid-area: desc;

    font-size: 0.9em;

    display: flex;
}
