@import "global.css";

.page {
    display: grid;
    grid-template-areas:
        "menu content content content news news";
}

/* menu and content section */
.section {
    margin: 1em;
    padding: 1em;
    height: fit-content;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur(8.0px);
}

.sticky-menu {
    position: sticky;
    top: 1em;
    max-height: 100vh;
}

/* menu with categories */
.menu {
    z-index: 100;
    grid-area: menu;

    display: grid;
    grid-template-rows: 2em auto 6em;
}

/* page main content */
.content {
    z-index: 10;
    grid-area: content;
    height: 1000px;
}

/* extra page info */
.news {
    z-index: 80;
    grid-area: news;
}

/* tablet screen */
@media (min-width: 768px) and (max-width: 1281px) {
    .page {
        grid-template-areas:
            "menu menu menu menu menu menu"
            "content content content content news news";
    }

    .news {
        top: 6em;
    }

    .menu {
        display: grid;
        grid-template-columns: minmax(4em, 20%) auto minmax(6em, 20%);
        grid-template-rows: none;
    }
}

/* phone screen */
@media (max-width: 767px) {
    .page {
        grid-template-areas:
            "menu menu menu menu menu menu"
            "content content content content content content";
    }

    .news {
        display: none;
    }
}


















.test {
    margin: 10em;
    padding: 4em;
    width: 12em;
    height: 12em;
    background: rgba(255, 255, 255, .30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur(8.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
