body {
    margin: 0;

    font-size: 16px;
    font-family: 'RocknRoll One', sans;

    background-size: cover;
    background-color: #fff;
    background-attachment: scroll;
    background-image: url(../../assets/background.svg);
}

/* menu and content section */
.section {
    margin: 1em;
    padding: 1em;
    height: fit-content;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur(8.0px);
}

.sticky-menu {
    position: sticky;
    top: 1em;
    max-height: 100vh;
}

.img-cap {
    font-size: 0.7em;
    color: darkslategrey;
    text-align: center;
}

.unselectable {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* TRANSITIONS */

.animate-color {
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: color 250ms ease;
}

.animate-size {
    -webkit-transition: width 250ms ease, height 250ms ease, max-width 200ms, max-height 200ms;
    -moz-transition: width 250ms ease, height 250ms ease, max-width 200ms, max-height 200ms;
    -ms-transition: width 250ms ease, height 250ms ease, max-width 200ms, max-height 200ms;
    -o-transition: width 250ms ease, height 250ms ease, max-width 200ms, max-height 200ms;
    transition: width 250ms ease, height 250ms ease, max-width 200ms, max-height 200ms;
}

.animate-font-size {
    -webkit-transition: font-size 250ms ease;
    -moz-transition: font-size 250ms ease;
    -ms-transition: font-size 250ms ease;
    -o-transition: font-size 250ms ease;
    transition: font-size 250ms ease;
}

.animate-shadow {
    -webkit-transition: text-shadow 250ms ease, box-shadow 250ms ease;
    -moz-transition: text-shadow 250ms ease, box-shadow  250ms ease;
    -ms-transition: text-shadow 250ms ease, box-shadow  250ms ease;
    -o-transition: text-shadow 250ms ease, box-shadow  250ms ease;
    transition: text-shadow 250ms ease, box-shadow  250ms ease;
}

